    # Compiled class files
    *.class
/bin/
    # Jar, War, Ear files
    *.jar
    *.war
    *.ear

    # Maven and Gradle build directories
    /target/
    /build/

    # IDE files (e.g., IntelliJ IDEA, Eclipse)
    .idea/
    *.iml

    .classpath
    .settings/

    # Log files
    *.log

    # Operating system specific files
    .DS_Store
    Thumbs.db